*{
  box-sizing: border-box;
  margin: auto;
  padding: auto;

}

body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: pink;
}
h1{
  text-align: center;
  color: blue;
}
p{
  color: crimson;
}
a{
  
  text-decoration: none;
}